<router-outlet/>

<main>
  <h1>02-angular</h1>

  <p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Mollis molestie magnis luctus velit tortor pellentesque fusce
    ullamcorper. At pellentesque facilisis pretium, integer libero ridiculus erat. Felis metus tempor pretium penatibus
    amet gravida habitasse fermentum. Himenaeos placerat magna maecenas nulla sapien sed taciti duis. Non dictumst purus
    dui class nulla quam aliquet laoreet. Congue vulputate auctor amet mollis ante consectetur sollicitudin. Dis duis
    elementum porttitor tellus interdum donec purus rhoncus. Habitasse aliquet senectus scelerisque gravida nunc
    curabitur. Laoreet turpis habitasse proin praesent euismod.
  </p>

  <p>
    Sapien imperdiet nascetur placerat congue nisi tempus. Litora velit augue tempus iaculis eget. Eget vestibulum
    finibus dolor semper varius quisque sit quis. Elit metus proin nisi nullam egestas quam? Efficitur ultrices sapien
    ante tincidunt taciti. Duis felis leo quam sapien natoque.
  </p>

  <p>
    Sagittis penatibus tempor accumsan conubia viverra sem. Pellentesque per posuere eros lobortis feugiat bibendum
    pharetra enim. Erat finibus bibendum potenti gravida purus sed. Proin nunc lacus tristique eget fames molestie
    iaculis. Montes luctus suscipit ut maecenas maecenas conubia id aliquam. Aptent pretium eu a cubilia vulputate
    eleifend urna habitasse. Quisque taciti scelerisque sit sapien eu venenatis cubilia dictum proin. Suspendisse mollis
    blandit nullam accumsan lacus ante.
  </p>

  <p>
    Ullamcorper nam class curabitur id taciti duis sapien. Pretium placerat vehicula donec mollis consequat integer sem.
    Tristique penatibus et praesent nisi nibh. Sociosqu volutpat dictumst morbi imperdiet; arcu nec nec. Euismod velit
    magna nostra augue odio. Mus integer quisque natoque conubia erat.
  </p>

  <p>
    Libero praesent adipiscing nullam tristique rhoncus, metus ad ultricies enim! Maecenas a pellentesque purus torquent
    cubilia lacinia ut. Habitasse urna ut justo blandit lacinia gravida nibh hac primis. Ad neque cursus ex venenatis
    nam tempus et. Habitant sagittis consectetur rhoncus himenaeos augue potenti potenti sollicitudin. Ante neque augue
    purus quam tincidunt nisl gravida curae montes. Vivamus erat ultricies fermentum nisl at penatibus leo consequat.
    Netus neque primis dictumst nec sapien nulla. Felis malesuada semper habitasse feugiat pulvinar sed.
  </p>
</main>
